<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

    <!-- Base Module Properties -->
    <id>${project.parent.artifactId}</id>
    <name>${project.parent.name}</name>
    <version>${project.parent.version}</version>
    <package>org.openmrs.module.cfldistribution</package>
    <author>Soldevelo</author>
    <description>
        ${project.parent.description}
    </description>

    <activator>${MODULE_PACKAGE}.CfldistributionModuleActivator</activator>

    <filter>
        <filter-name>CfldistributionRequireLoginLocationFilter</filter-name>
        <filter-class>org.openmrs.module.cfldistribution.filter.CfldistributionRequireLoginLocationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CfldistributionRequireLoginLocationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>RedirectReferenceapplicationCSSFilter</filter-name>
        <filter-class>org.openmrs.module.cfldistribution.filter.RedirectReferenceapplicationCSSFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>RedirectReferenceapplicationCSSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <require_version>${openmrs.platform.version}</require_version>

    <require_modules>
        <require_module version="${cflVersion}">
            org.openmrs.module.cfl
        </require_module>
    </require_modules>

    <aware_of_modules>
        <aware_of_module>org.openmrs.module.legacyui</aware_of_module>
        <aware_of_module>org.openmrs.module.locationbasedaccess</aware_of_module>
    </aware_of_modules>

    <!-- Internationalization -->
    <!-- All message codes should start with @MODULE_ID@.* -->
    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
    <!-- /Internationalization -->

    <!-- TODO: Verify -->
    <privilege>
        <name>App: referenceapplication.legacyAdmin</name>
        <description>Able to access the advanced administration app</description>
    </privilege>

    <privilege>
        <name>App: referenceapplication.styleGuide</name>
        <description>Able to access the style guide app</description>
    </privilege>

    <privilege>
        <name>App: referenceapplication.manageApps</name>
        <description>Able to manage app definitions</description>
    </privilege>

</module>

